@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    
  }
html{
    scroll-behavior: smooth
}
  * {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  body {
    font-family: var(--font-family);
  }
  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  nav h1 {
    color: var(--primary-color);
    
  }
  
  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }
  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.8rem;
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }
  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    max-width:70rem;
    margin-top:3rem;
    }

.my-pic{
  height: 15rem;
  width: 13rem;
  border-radius:50%;
  margin: 5rem;
  
}

.bio {
 width: 20rem;
 padding: 0.5rem;
 border-radius: 6px;
 box-shadow: 0px 2px 15px 2px var(--primary-shadow)
 
}
.bio h2{
  margin-bottom: var(--bottom-margin);
  font-size: 3rem;
}
.bio p {
  line-height: var(--line-height);
  padding: .25rem 0rem;
  
}
.more-about{
  background-color: --bg-color;
  padding: 4.5rem 6rem;
}
.more-about h2{
  margin-bottom: var(--bottom-margin);
  text-align: center;
}
.more-about p{
  line-height: var(--line-height);
  padding: .1rem;
}
.skills{
  max-width: 68.75rem;
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
}
.skill-header{
  font-size: 2rem;
  margin-bottom: var(--bottom-margin);
}
.skills-wrapper img{
 padding:1.5rem
}
.icon{
  width: 10rem;
  height: 10rem;
}
.projects{
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
  
}
 .project-pic{
  width: 50%;
  height: 50%;
  margin-top: .2rem;
 }
 .projects-container{
   display: flex;
   align-items: center;
   justify-content: center;
   
 }
 .project-container{
  text-align: center;
  width: 22rem;
  padding: 1rem;
  margin-top: 1rem;
 }
 .projects-title{
  text-align: center;
  margin-bottom: 1rem;
 }
 .project-container p{
  padding: 0.4rem;
 }
 .projects-title {
  margin-bottom: var(--bottom-margin);
}
.project-details {
  margin-bottom: var(--bottom-margin);
}
.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 2px;
  margin: 8px;
}
.contact{
  text-align: center;
}
.contact h2{
  font-family: var(--font-family);
  text-align: center;
}
.contact-form-container{
  text-align: center;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  margin: 20px auto;
  padding: 10px;
  width:30rem;
  
}
.contact-form-container label {
  line-height: 3em;
  font-weight: var(--bold-font);
  }
.contact-form-container textarea {
  min-height:  7rem;
  font-size: 15px;
  }
.contact-form-container .input-field{
  border-radius: 5px;
  width:100%;
  padding:20px;
  box-sizing: border-box;
  margin: 10px 0;
  }
  input[type=submit]{
    background-color:var(--primary-color);
    font-weight: var(--bold-font);
    font-size: 20px;
    border: none;
    color:#fff;
  }
  .scroll-up{
    
    position: fixed;
    right: 0.5%;
    bottom:3%;
    cursor:pointer;
  }
  .up-arrow{
    width:3rem;
    height: 3rem;
  }
  @media screen and (max-width: 720px) {
    nav{
      padding: 1.5rem 1rem;
    }
    .hero {
      margin-top: -4rem;
      flex-direction: column;
      gap: 0;
    }
  
    .hero img {
          height: 15rem;
          width: 12rem;
      }
  
    .bio {
      margin-top: 1rem;
      width: 20rem;
    }
    .more-about {
      margin-top: 2rem;
      padding: 1rem 3.5rem;
    }
  
    .more-about h2 {
      text-align: center;
    }
  
    .more-about p {
      text-align: justify;
    }
    .icon {
      width: 5.875rem;
      height: 5.25rem;
    }
    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
    .contact-form-container {
      max-width: 23.75rem;
    }
  }
  @media screen and (max-width: 420px) {
    .hero img {
      height: 37.5rem;
      width: 23rem;
    }
  
    .bio {
      width: 18.3rem;
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
  } 
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }
  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }